<h1>Admin Dashboard</h1>
<p>Types of plants for sale: <%= @db_count_products %> </p>
<p>Number of catagories: <%= @db_count_catagories %> </p>
<%= link_to 'All Products', [:admin, :products], class: 'btn btn-info' %>
