<tr>
  <td>
    IMAGE
  </td>
  <td>
    <h4>NAME</h4>
    <br>
    <p>DESC</p>
  </td>
  <td class="text-center">
  <%= quantity %>
  </td>
  <td>
  <%= humanized_money_with_symbol  total_price/100.00 %>
  </td>
</tr>
